*{
  font-family: 'pixel', sans-serif;
}

@font-face {
  font-family: 'pixel';
  src: url('pixel.TTF') format('truetype');
}
/*how i include downloadable fonts in css*/

#modal{
  display:none;
  z-index:1;
  background-color:rgba(0, 0, 0, 0.5);
  height:100vh;
  width:100vw;
  position:absolute;/*not relative because it doesnt take element out of document flow */
  left:0;
  top:0;
  
  justify-content: center;
  align-items: center;
}

#modal-content{
  background-color: #b1d4e0;
  border-radius:15px;
  text-align:center;
  height:200px;
  width:300px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
#close-modal{
 
  
  border-radius:15px;
}

body{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background: linear-gradient(-45deg, #274472, #5885AF, #A3CEF1, #274472);
  background-size: 400% 400%;
  animation: gradientShift 10s ease infinite;
  
}
 
  


@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

h1{
  
  color:#b1d4e0;
  text-align:center;
  
}
 #game{
  border-radius:25px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  display:flex;
  justify-content: space-evenly;
  gap:0.0625em;
  align-content:space-evenly;
  flex-wrap:wrap;
  max-height:400px;
  max-width:400px;
  height:90vw;
  width:90vw;
  background-color:#2c4a7a;
}
button{
  border-radius:25px;
  background-color: #b1d4e0;
}

#close-modal{
   background-color: #274472;
   color:#b1d4e0;
}
.btn{
  max-width:100px;
  max-height:100px;
  height:30%;
  width:30%;
  border:none;
  background-color: #b1d4e0;
  border-radius:25px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:2.5em;}
